﻿@ModelType WonderfulWardrobe.Biz.TermsViewModel
@Code
    ViewData("Title") = "CreateTerms"
    Layout = "~/Views/Shared/_AdminLayout.vbhtml"
End Code
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
@Scripts.Render("~/bundles/jqueryval")

@Using Html.BeginForm("CreateTerms", "AdminClass", FormMethod.Post, New With {.class = "form-horizontal", .role = "form"})
    @<text>

        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Create Terms</div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"></a>
                        </div>
                    </div>
                    <div class="portlet-body no-more-tables">
                      
                            <div class="messages">
                                <div class="messages error">
                                    <p style="color:red;">@ViewBag.Message</p>
                                </div>
                            </div>
                       
                        <div class="row-fluid" style="float: none;">
                            <div class="span5" style="float: none;">

                                <label for="term_name">Name:</label>
                                @Html.TextBoxFor(Function(m) m.Name, New With { _
                                Key .[class] = "span12 m-wrap" _
                                })

                                <label for="discount_amount">Discount Amount(£):</label>
                                @Html.TextBoxFor(Function(m) m.DiscountAmount, New With { _
                                Key .[class] = "span12 m-wrap" _
                                })

                                <label for="total_amount">Whole Term Price(£):(Optional)</label>
                                @Html.TextBoxFor(Function(m) m.TotalAmount, New With { _
                                Key .[class] = "span12 m-wrap" _
                                })

                                @*<label for="start_date">Start Date:</label>
                                @Html.TextBoxFor(Function(m) m.StartDate, New With { _
                                Key .[class] = "span12 m-wrap datepicker" _
                                })*@

                                @*<label for="end_date">End Date:</label>
                                @Html.TextBoxFor(Function(m) m.EndDate, New With { _
                                Key .[class] = "span12 m-wrap datepicker" _
                                })*@
                                <br />
                                <br />
                                    <input type="submit" name="submit" class="btn" value="Save" />
                                   
                               
                            </div>
                        </div>

                    </div>
                            </div>
                        </div>
            </div>
    </text>
End Using
<script type="text/javascript">
    $(document).ready(function () {

        $('.datepicker').datepicker({
            autoclose: true
        });
    });

</script>

<script>
    var validator = jQuery(".form-horizontal").validate({
        errorContainer: $(".validation-warning"),
        rules: {
            Name: "required",
            DiscountAmount: {
                required: true,
                number: true
            },
            TotalAmount: {
                number: true
            },
            
           

        },
        messages: {
            Name: "*Required Field",
            DiscountAmount: "*Required Field and Decimal Value Only",
            Address3: "*Required Field",
            TotalAmount: "*Decimal Value Only",

        },
        submitHandler: function (form) {
                form.submit();
        }
    });
</script>



