/* CSS Document */

/* TOC 
 * RESET STYLES
 * FONT FACE (IF USED)
 * HTML
 * BODY
 * WRAPPER
 * HEADER
 * BANNER
 * SIGNUP FORM
 * NAVIGATION
 * BODY
 * ASIDE - LEFT
 * PAGE
 * ASIDE - RIGHT
 * GALLERY - PAGE
 * CLASSES HOME - PAGE
 * CLASSES REGISTRATION - PAGE
 * CLASS BOOKING - PAGE
 * PARTIES HOMEPAGE
 * PARTIES BOOKING DETAILS
 * LOGGED IN
 * BLOG - PAGE
 * CONTACT - PAGE
 * LOGIN - PAGE
 * THANKYOU - PAGE
 * FOOTER
 * TABLE
 * FORMS
 * PLUGINS
 * PRINT STYLES
 * MEDIA QUERIES
---------------------------------------------------------------------------*/


/* RESET STYLES
---------------------------------------------------------------------------*/
html {}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.25; /*1.25 will be multiplied by current font size and make 20px line height */
	min-height:100%;
	font-family: sans-serif;
	color: #222;
} 
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
button, input, select, textarea {
	font-family: sans-serif; /*Probably Helvetica for Linux/Mac Systems And Arial for Windows PC*/
	color: #222;
} 
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after { /* Safari Reset as Safari does not recognise quotes property */
	content: '';
	content: none;
} 
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000; 
	cursor: help;
}
ins { 
	background-color: #fcd700; 
	color: #000; 
}
del {
	color: #ed1c24; 
	text-decoration: line-through;
}
mark {
	background-color: #fcd700; 
	color: #000; 
	font-style: italic; 
	font-weight: bold;
}
small {
	font-size: 85%;
}
p {
	margin: 0;
	padding: 0;
}
a {
	vertical-align: baseline;
}
a:hover, a:active {
	outline: 0;
}
a img {
	border: 0 none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.clickable, label, input[type=button], input[type=submit], button {
	cursor: pointer; /* hand cursor on clickable elements */
}
button, input, select, textarea {
	margin: 0; /* Webkit browsers add a 2px margin outside the chrome of form elements */
}
table {
	font-size: inherit;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	font-weight: bold;
	vertical-align: bottom;
}
td {
	font-weight: normal;
}
td, td img {
	vertical-align: top;
}
.clearfix:before, 
.clearfix:after, 
.form-wrapper .form-row:before,
.form-wrapper .form-row:after   {
	content:"";
	display:table;
}
.clearfix:after,
.form-wrapper .form-row:after {
	clear:both;
}
.ie6 .clearfix, .ie7 .clearfix {
	zoom:1;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding:0;
}
/* FONT FACE (IF USED)
---------------------------------------------------------------------------*/
@font-face {
    font-family: 'GoodDogRegular';
    src: url('webfonts/GoodDog-webfont.eot');
    src: url('webfonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/GoodDog-webfont.woff') format('woff'),
         url('webfonts/GoodDog-webfont.ttf') format('truetype'),
         url('webfonts/GoodDog-webfont.svg#GoodDogRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* GENERAL
---------------------------------------------------------------------------*/
input.btn { 
	line-height: 1;
}
.btn {
	color: #fff;
	width: 80px;
	height: 29px;
	display: block;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid #ffffff;
	font: bold 12px/29px Arial, Helvetica, sans-serif;
	position: relative;
}
.pink-btn {
	background:#e8aad2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #e8aad2), to(100%, #bd5999));
	background: -webkit-linear-gradient(#e8aad2, #bd5999);
	background: -moz-linear-gradient(#e8aad2, #bd5999);
	background: -ms-linear-gradient(#e8aad2, #bd5999);
	background: -o-linear-gradient(#e8aad2, #bd5999);
	background: linear-gradient(#e8aad2, #bd5999);
	-pie-background: linear-gradient(#e8aad2, #bd5999);
}
.blue-btn {
	background:#a1b6dd;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #a1b6dd), to(100%, #5e78a8));
	background: -webkit-linear-gradient(#a1b6dd, #5e78a8);
	background: -moz-linear-gradient(#a1b6dd, #5e78a8);
	background: -ms-linear-gradient(#a1b6dd, #5e78a8);
	background: -o-linear-gradient(#a1b6dd, #5e78a8);
	background: linear-gradient(#a1b6dd, #5e78a8);
	-pie-background: linear-gradient(#a1b6dd, #5e78a8);
}
.orange-btn {
	background:#f5bf9a;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #f5bf9a), to(100%, #ec8b5c));
	background: -webkit-linear-gradient(#f5bf9a, #ec8b5c);
	background: -moz-linear-gradient(#f5bf9a, #ec8b5c);
	background: -ms-linear-gradient(#f5bf9a, #ec8b5c);
	background: -o-linear-gradient(#f5bf9a, #ec8b5c);
	background: linear-gradient(#f5bf9a, #ec8b5c);
	-pie-background: linear-gradient(#f5bf9a, #ec8b5c);
}
.page p.note {
	color: #e34317;
	margin-bottom: 22px;
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
}

/* HTML
---------------------------------------------------------------------------*/
html {
	background: #bd5999 url('images/header-bg.jpg') no-repeat center top;
}

/* BODY 
---------------------------------------------------------------------------*/
body {
	width: 100%;
	background: url('images/body-bg.png') repeat-x 6px 337px;
}

.wrapper {
	width: 71.22%;
	max-width: 961px;
	min-width: 300px;
	margin: 0 auto;
}
/* HEADER
---------------------------------------------------------------------------*/
 .logo {
	width: 272px;
	height: 252px;
	margin: 0 auto;
}
.logo a {
	display: block;
}
/* BANNER
---------------------------------------------------------------------------*/
.banner {
	margin: -61px 0 10px;
	padding: 11px 10px;
	border-radius: 7px; 
	background-color: #ffffff;
	position: relative;
	z-index: 100;
}
.slider-wrapper {
	float: left; 
	max-width: 698px;
	width: 77%;
	height: 245px;
	position: relative;
}
.slider-wrapper .rsThumbs {
	height: 244px;
	position: absolute;
	top: 0;
	left: 0;
}
.slider-wrapper .rsThumb {
	float: none;
	color: #fff;	
	height: 74px;
	width: 263px;
	margin: 10px 0 0 0 !important;
	font: 37px/70px 'GoodDogRegular';
	background: url('images/sprite.png') no-repeat left top;
	z-index: 500;
}
.slider-wrapper .rsThumb:first-child {
	margin-top: 0 !important;
}
.slider-wrapper .rsThumbsContainer {
	height: 244px !important;
	margin-top: -6px;
}
.slider-wrapper .rsOverflow {
	float: none;
	max-width: 471px !important;
	width: 100% !important;
	margin-left: 228px;	
}
.slider-wrapper .rsTmb {
	float: left;
	display: block;
	margin: -6px 20px 0 8px;	
}
.slider-wrapper .rsSlide img{
	width: 100%;
	margin: 0 !important;
}
.slider-wrapper .rsThumb:before, 
.slider-wrapper .rsThumb:after {
	content:"";
	display:table;
}
.slider-wrapper .rsThumb:after {
	clear:both;
}
.slider-wrapper .rsThumb.slide-2 {
	background-position: 0 -165px;
}
.slider-wrapper .rsThumb.slide-3 {
	background-position: 0 -341px;
}
.slider-wrapper .rsThumb.slide-2:hover,
.slider-wrapper .rsThumb.slide-2.rsNavSelected {
	background-position: 0 -256px;
}
.slider-wrapper .rsThumb.slide-3:hover,
.slider-wrapper .rsThumb.slide-3.rsNavSelected {
	background-position: 0 -423px;
}
.slider-wrapper .rsThumb:hover,
.slider-wrapper .rsThumb.rsNavSelected {
	background-position: 0 -83px;
}
.banner .newsletter {
	float: right;
	width: 206px;
	border-radius: 4px;
	padding: 5px 12px 23px 10px; 
	background-color: #a1b6dd;
	position: relative;  
}
.banner h2 {
	color: #fff;
	margin-bottom: 4px;
	font: 29px/1.20 'GoodDogRegular';
}
.banner p {
	color: #fff;
	font: 12px/1.41 Arial, Helvetica, sans-serif;
}

/* SIGNUP FORM
---------------------------------------------------------------------------*/
#newsletter-signup-form {
	margin: 14px 0 11px;
}
#newsletter-signup-form input[type="text"],
#newsletter-signup-form input[type="email"] {
	width: 92%;
	height: 26px;
	color: #b9b9b9;
	padding: 0 7px;
	margin-bottom: 7px;
	border: 1px solid #748cb7;
	font: 12px/2.16 Arial, Helvetica, sans-serif;
}
#newsletter-signup-form input.error{
	border: 1px solid #bd5999;
	box-shadow: 0 0 5px #bd5999;
}
.character {
	width: 120px;
	height: 115px;
	position: absolute;
	bottom: -56px;
	right:-8px;
}

/* NAVIGATION
---------------------------------------------------------------------------*/
#menu-icon {
	display: none;
}
nav {
	z-index: 1;
	position: relative;
}
nav li {
	float: left;
	width: 116px;
	margin-left: 4px;
}
nav li:first-child {
	margin-left: 0;
}
nav li:hover,
nav li.active {
	margin-top: -3px;
}
nav li:hover a,
nav li.active a {
	padding-top: 3px;
}
nav li a {
	color: #fff;
	height: 41px;
	display: block;
	text-align: center;
	text-decoration: none;
	border-radius: 9px;
	border: 2px solid #fff;
	font: 29px/1 'GoodDogRegular';
	background:#fb1c1c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #fb1c1c), to(28%, #fb1c1c));
	background: -webkit-linear-gradient(#fb1c1c, #930d0d);
	background: -moz-linear-gradient(#fb1c1c, #930d0d);
	background: -ms-linear-gradient(#fb1c1c, #930d0d);
	background: -o-linear-gradient(#fb1c1c, #930d0d);
	background: linear-gradient(#fb1c1c, #930d0d);
	-pie-background: linear-gradient(#fb1c1c, #930d0d);
	position: relative;
	z-index: 300;
}
nav li a.gallery {
	background: #e34317;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #e34317), to(28%, #a32c0b));
	background: -webkit-linear-gradient(#e34317, #a32c0b);
	background: -moz-linear-gradient(#e34317, #a32c0b);
	background: -ms-linear-gradient(#e34317, #a32c0b);
	background: -o-linear-gradient(#e34317, #a32c0b);
	background: linear-gradient(#e34317, #a32c0b);
	-pie-background: linear-gradient(#e34317, #a32c0b);
}
nav li a.classes {
	background: #ec8b5c;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #ec8b5c), to(28%, #9f3d0e));
	background: -webkit-linear-gradient(#ec8b5c, #9f3d0e);
	background: -moz-linear-gradient(#ec8b5c, #9f3d0e);
	background: -ms-linear-gradient(#ec8b5c, #9f3d0e);
	background: -o-linear-gradient(#ec8b5c, #9f3d0e);
	background: linear-gradient(#ec8b5c, #9f3d0e);
	-pie-background: linear-gradient(#ec8b5c, #9f3d0e);
}
nav li a.parties {
	background:#eb6d96;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #eb6d96), to(28%, #93123c));
	background: -webkit-linear-gradient(#eb6d96, #93123c);
	background: -moz-linear-gradient(#eb6d96, #93123c);
	background: -ms-linear-gradient(#eb6d96, #93123c);
	background: -o-linear-gradient(#eb6d96, #93123c);
	background: linear-gradient(#eb6d96, #93123c);
	-pie-background: linear-gradient(#eb6d96, #93123c);
}
nav li a.groups {
	background:#bfa6cb;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #bfa6cb), to(28%, #674676));
	background: -webkit-linear-gradient(#bfa6cb, #674676);
	background: -moz-linear-gradient(#bfa6cb, #674676);
	background: -ms-linear-gradient(#bfa6cb, #674676);
	background: -o-linear-gradient(#bfa6cb, #674676);
	background: linear-gradient(#bfa6cb, #674676);
	-pie-background: linear-gradient(#bfa6cb, #674676);
}
nav li a.blog {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #aabbdf), to(28%, #455c8e));
	background: -webkit-linear-gradient(#aabbdf, #455c8e);
	background: -moz-linear-gradient(#aabbdf, #455c8e);
	background: -ms-linear-gradient(#aabbdf, #455c8e);
	background: -o-linear-gradient(#aabbdf, #455c8e);
	background: linear-gradient(#aabbdf, #455c8e);
	-pie-background: linear-gradient(#aabbdf, #455c8e);
}
nav li a.contact {
	background:#aadfc2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #aadfc2), to(28%, #0b716b));
	background: -webkit-linear-gradient(#aadfc2, #0b716b);
	background: -moz-linear-gradient(#aadfc2, #0b716b);
	background: -ms-linear-gradient(#aadfc2, #0b716b);
	background: -o-linear-gradient(#aadfc2, #0b716b);
	background: linear-gradient(#aadfc2, #0b716b);
	-pie-background: linear-gradient(#aadfc2, #0b716b);
}
/* BODY
---------------------------------------------------------------------------*/
.body {
	margin-top: -11px;
	padding: 14px 12px 22px 17px;
	border-radius: 7px;
	background-color: #fff;
	z-index: 10;
	position: relative;	
}
.facebook-like {
	width: 81px;
	height: 20px;
	display: block;
	text-indent: -9999px;
	background: url(images/sprite.png) no-repeat -72px -541px;
	position: absolute;
	top: 13px;
	right: 13px;
}
/* ASIDE LEFT
---------------------------------------------------------------------------*/
aside.left {
	float: left;
	width: 222px;
	color: #fff;
	margin-right: 11px;
}
aside.left h2 {	
	margin-bottom: 12px;
	font: 29px/1 'GoodDogRegular';
}
aside.left p {	
	font: 12px/1.41 Arial, Helvetica, sans-serif;
}
aside.left .urgant-notice {
	border-radius: 3px;
	margin-bottom: 16px;
	padding: 17px 16px 20px 13px;
	background-color: #e43f7c;
}
aside.left .image {
	width: 193px;
	padding: 8px;
	margin: 0 0 25px 5px;
	box-shadow: 0px 0px 10px 1px #e0ded8;
	background-color: #fff;
	position: relative;
}
aside.left .image a {
	display: block;
}
aside.left .image .caption {
	color: #fff;
	width: 177px;
	display: block;
	padding: 5px 8px;
	text-decoration: none;
	font: 24px/1.45 'GoodDogRegular';
	transform:rotate(-1deg);
	-ms-transform:rotate(-1deg); /* IE 9 */
	-webkit-transform:rotate(-1deg); /* Safari and Chrome */
	background: rgba(235, 109, 150, 0.8);
	position: absolute;
	left: 8px;
	bottom: 11px;
}
aside.left .image:hover .caption {
	background: rgba(175, 147, 182, 0.8);
}
aside.left .image.rotate {
	transform:rotate(3deg);
	-ms-transform:rotate(3deg); /* IE 9 */
	-webkit-transform:rotate(3deg); /* Safari and Chrome */
}
/* PAGE
---------------------------------------------------------------------------*/
.page {
	width: 75%;
}
.page h1 {
	color: #bd5999;
	margin: 14px 0 28px;
	font: 38px/0.8536 'GoodDogRegular';
}
.page h1 span {
	color: #ec8b5c;
}
.home .page {
	width: 49%;
	float: left;

}
.home .page h2 {
	color: #8bcbf5;
	font: 29px/1.20 'GoodDogRegular';
}
.home  .page h2 span {
	color: #bd5999;
}
.page p {
	color: #5f5e5e;
	margin-bottom: 20px;
	font: 12px/1.75 Arial, Helvetica, sans-serif;
}
.facebook-box {
	height: 234px;
	padding: 8px 0;
	border-radius: 3px;
	background-color: #fff1f5;
	overflow: hidden;
	position: relative;
}
.facebook-box h2 {
	padding: 0 0 9px 12px;
	overflow: hidden;
}
.facebook-box .facebook {
	width: 31px;
	height: 31px;
	display: block;
	text-indent: -99999px;
	background: url('images/sprite.png') -36px -538px;
	position: absolute;
	right: 6px;
	top: 8px;
}
.facebook-box hr {
	width: 100%;
	height: 1px;
	font-size: 0;
	padding: 0;
	margin: 0; 
	border: 0 none;
	background-color: #ffffff;
}
.scroll-pane {
	height: 190px !important;
	width: 100% !important;
	padding: 14px;
	margin-top: 2px;
}
.facebook-box .comment {
	margin-bottom: 21px;
}
.facebook-box .avatar {
	float: left;
	width: 48px;
	height: 55px;
	margin-right: 13px;
}
.facebook-box .avatar a {
	display: block;
}
.facebook-box .post {
	float: left;
	width: 84%;
	/*width: 352px;*/
}
.facebook-box h3 {
	font: bold 12px/1.41 Arial, Helvetica, sans-serif;
}
.facebook-box h3 a {
	color: #bd5999;
	text-decoration: none;
}
.facebook-box p {
	color: #461c37;
	margin-bottom: 0;
	font: 11px/1.545 Arial, Helvetica, sans-serif;
}
.facebook-box .date-time {
	display: block;
	font: bold 11px/1.545 Arial, Helvetica, sans-serif;
}
.facebook-box .date-time a {
	color: #57b8f7;
	text-decoration: none;
}
/* ASIDE RIGHT
---------------------------------------------------------------------------*/
aside.right {
	float: right;
	width: 225px;
	position: relative;
}
.twitter h2 {
	color: #44abf0;
	padding: 48px 0 3px 102px;
	font: 29px/1.20 'GoodDogRegular';
	background: url('images/twitter.png') no-repeat 19px 0;
}
.twitter > div{
	margin-bottom: 15px;
	padding: 0 8px 9px;
	border-radius: 4px;
	background-color: #44abf0;
	position: relative;
}
aside.right .twitter h3{
	color: #fff;
	font: 29px/2 'GoodDogRegular';
	padding-left: 45px;
}
.twitter ul {
	padding: 14px 12px 25px;
	border-radius: 4px;
	background-color: #fff;
	position: relative;
}
.twitter li {
	color: #5f5e5e;
	margin-top: 27px;
	font: 11px/1.54 Arial, Helvetica, sans-serif
}
.twitter li:first-child {
	margin-top: 0;
}
.twitter a {
	color: #44abf0;
	text-decoration: none;
}
aside h3 {
	color: #bd5999;
	padding-left: 30px;
	font: bold 12px/1 Arial, Helvetica, sans-serif;
}
.testimonal {
	position: relative;
}
.testimonal p {
	color: #26332c;
	margin-bottom: 10px;
	padding:27px 20px;
	border-radius: 14px;
	font: 12px/1.41 Arial, Helvetica, sans-serif;
	background-color: #aadfc2;
	position: relative;
}
.testimonal .tip {
	width: 23px;
	height: 24px;
	background: url('images/sprite.png') no-repeat 0 -537px;
	position: absolute;
	bottom: 0;
	right: 13px;
}
/* GALLERY PAGE
---------------------------------------------------------------------------*/
.gallery-page .page {
	float: right;
	width: 74%;
}
.gallery h1 {
	color: #e34317;
	margin: 14px 0 18px;
	font: 38.75px/0.8536 'GoodDogRegular';
}
.gallery-slider {
	padding: 10px;
	border-radius: 3px;
	background-color: #fcdde7;
	position: relative;
}

#gallery-2 .rsOverflow {
	margin-bottom: 14px;
	height: 66% !important;
	/*height: 380px !important;*/
	width: 96% !important;
	/*padding: 16px 31px; */
	padding: 2% 2%;
	box-shadow: 0px 1px 10px 1px #cc6f84 inset;
	background-color: #f6bfd1;
	position: relative;
}
#gallery-2 .rsOverflow img {
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
}
#gallery-2 .rsThumbs {
	width: 87%;
	height: 89px;
	padding: 9px 11px;
	margin-left: 5%;
	background-color: #450e2f;
}
#gallery-2 .rsThumb {
	margin: 0 9px 5px 0 !important;
}
/* CLASSES HOME - PAGE
---------------------------------------------------------------------------*/
.classes-page .page {
	float: left;
	width: 74%;
}
.classes-page .page p.note {
	color: #ec8b5c;
}
.intro {
	margin-bottom: 32px;
}
.intro a {
	color: #bd5999;
	font-weight: bold;
}
.image-left {
	float: left;
	display: block;
	margin-right: 16px; 
	border: 8px solid #fff;
	box-shadow: 0px 0px 10px 1px #e0ded8;
}
.venues {
	margin-bottom: 34px;
}
.venues h2,
.ticket-detail h2 {
	color: #bd5999;
	margin-bottom: 24px;
	font: 29px/1.20 'GoodDogRegular';
}
.venues li {
	float: left;
	width: 160px;
	margin-right: 10px;
	text-align: center; 
}
.venues li.last {
	margin-left: 0;
}
.venues li h2 {
	margin-bottom: 6px;
	font: 25.44px/0.87 'GoodDogRegular';
}
.venues li span {
	color: #5f5e5e;
	display: block;
	height: 175px;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: 5px;	
	font: 12px/1.75 Arial, Helvetica, sans-serif;	
	position: relative;
}
.venues li a {	
	display: block;
	margin: 0 -2px;
	border-radius: 0 0 4px 4px;
	text-decoration: none;
	position: relative;
}
.venues li a span {
	color: #fff;
	width: auto;
	height: auto;	
	border: 0 none;
	display: block;
	margin: 0 -2px;
	padding: 12px 0 15px;
	border-radius: 0 0 4px 4px;
	font: bold 15px/1.13 Arial, Helvetica, sans-serif;
	background: url('images/sprite.png') no-repeat -5px -662px;
	position:relative;
}
.venues li.venues-1 h2 {
	color: #db011f;
}
.venues li.venues-1 span {
	border-color: #db011f;
}
.venues li.venues-1 a {
	background-color: #db011f ;
}
.venues li.venues-1 a:hover,
.venues li.venues-1 a.active {
	box-shadow: 0 -15px 25px -8px #9c0015 inset;
}
.venues li.venues-2 h2 {
	color: #8da532;
}
.venues li.venues-2 span {
	border-color: #8da532;
}
.venues li.venues-2 a {
	background-color: #8da532;
}
.venues li.venues-2 a:hover,
.venues li.venues-2 a.active {
	box-shadow: 0 -15px 25px -8px #58691a inset;
}
.venues li.venues-3 h2 {
	color: #00afdc;
}
.venues li.venues-3 span {
	border-color: #00afdc;
}
.venues li.venues-3 a {
	background-color: #00afdc;
}
.venues li.venues-3 a:hover,
.venues li.venues-3 a.active {
	box-shadow: 0 -15px 25px -8px #0b7691 inset;
}
.venues li.venues-4 h2 {
	color: #cad131;
}
.venues li.venues-4 span {
	border-color: #cad131;
}
.venues li.venues-4 a {
	background-color: #cad131;
}
.venues li.venues-4 a:hover,
.venues li.venues-4 a.active {
	box-shadow: 0 -15px 25px -8px #8e9411 inset;
}
.ticket-detail {
	margin-bottom: 19px;
}
.ticket-detail > div {
	width: 80%;
	padding: 2% 2.5%; 
	border-radius: 3px;
	background-color: #fdf0f4;
	position: relative;
}
.seasion-ticket {
	width: 104px;
	height: 67px;
	display: block;
	text-indent: -9999px;
	background: url('images/sprite.png') no-repeat -92px -827px;
	position: absolute;
	top: -11px;
	left: 2px;
}
.ticket-detail h3 {
	color: #bd5999;
	margin-bottom: 34px;
	padding-left: 111px;
	font: bold 17px/1.23 Arial, Helvetica, sans-serif;
}
.term-ticket {
	width: 81%;
	margin-bottom: 29px;
	/*padding: 15px 18px 19px 119px;*/
	padding: 3% 2% 2%;
	border-radius: 3px;
	background: #ffe9df url('images/sprite.png') no-repeat -208px -825px;
	position: relative;
}
.term-ticket h2{
	float: left;
	color: #936138;
	margin-left: 105px;
	font: bold 17px/1.23 Arial, Helvetica, sans-serif;
}
.term-ticket .btn {
	float: right;
	margin-top: 3px;
}
#map {
	width: 80%;
	padding: 1% 2.5% 1.5%;
	border-radius: 3px;
	position: relative;
}
#map h2 {
	float: left;	
	margin-top: 6px;
	font: bold 17px/1.23 Arial, Helvetica, sans-serif;
}
#map h2 span {
	display: block;
	font-size: 14px;
}
.boulder-center,
.bijou-center,
.sea-cadets-center,
.funky-little-center {
	margin-bottom: 16px;
}
.bijou-center,
.sea-cadets-center,
.funky-little-center {
	display: none;
}
.boulder {
	background-color: #ffe8eb;
}
.bijou {
	background-color: #fcfdee;
}
.sea-cadets {
	background-color: #e6faff;
}
.funcky-chickens {
	background-color: #fcfdee;
}
.boulder h2 {
	color: #db011f;
}
.bijou h2 {
	color: #94aa3d;
}
.sea-cadets h2 {
	color: #00afdc;
}
.funcky-chickens h2 {
	color: #cad131;
}
#map .logo-img {
	float: right;
	display: block;
}
#google-map { 
	width: 99%;
	height: 371px;
	border-radius: 2px;
	border: 2px solid #fff;
}
aside.right .ticket-cloumn {
	width: 222px;
}
aside.right .ticket-cloumn h2 {
	padding: 0;
	color: #bd5999;
	text-align: center;
	margin-bottom: 26px;
	font: 29px/1.20 'GoodDogRegular';
	background: none;
}
aside.right .ticket-cloumn h3 {
	padding: 0;
	margin-bottom: 12px;
	font: 25px/1 'GoodDogRegular';
}
.ticket-cloumn p {
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
}
.ticket-cloumn .row {
	padding: 14px 19px 14px 11px;
	margin-bottom: 21px;
	border-radius: 3px;
	position: relative;
}
.ticket-cloumn .ticket {
	width: 96px;
	height: 74px;
	display:block;
	text-indent: -9999px;
	background: url('images/sprite.png') no-repeat 0 -742px;
	position: absolute;
	right: -8px;
	top: -11px;
}
.ticket-cloumn .row.one {
	padding-right: 37px;
	background-color: #fcdef1;
}
aside.right .ticket-cloumn .one h3 {
	color: #bd5999;
}
aside.right .ticket-cloumn .one p {
	color: #8c4262;
}
.ticket-cloumn .row.two {
	background-color: #ffe9df;
}
.ticket-cloumn .row.two .ticket {
	background-position: -96px -742px;
}
aside.right .two h3 {
	color: #ec8b5c;
}
aside.right .two p {
	color: #936138;
}
.ticket-cloumn .row a {
	color: #bd5999;
	font: bold 12px/1.75 Arial, Helvetica, sans-serif
}
/* CLASSES REGISTRATION PAGE
---------------------------------------------------------------------------*/
.child-list td {
	padding: 5px 13px;
	font: 14px/1.5 Arial, Helvetica, sans-serif;
}
.child-list td.child-name {
	width: 258px;
}
.child-list td.dob {
	width: 200px;
}
.child-list td.dob span {
	word-break: break-all;
}
.child-list td.gender {
	width: 60px;
}
.child-detail {
	display: none;
}
.next {
	float: right;
}
.close-btn {
	width: 18px;
	height: 18px;
	display: block;
	text-indent: -9999px;
	background: url('images/sprite.png') no-repeat -127px -583px;
}
.form-row.dob {
	position: relative;
}
.form-row.dob label.error {
	position: absolute;
	right: 0;
	top: 0;
}
.form-row.submit {
	padding: 0 20px;
	background: transparent;
}
.page p.validation-warning {
	float: right;
    color: #fb1c1c;
	display: none;
    margin: 0 0 0 16px;
    text-align: left;
    width: 224px;
}
/* CLASS BOOKING PAGE
---------------------------------------------------------------------------*/
.form-wrapper.booking {
	width: 85%;
}
#show-detail table {
	/*display:none;*/
	margin-bottom: 25px;
}
.children-attending h4 {
	float: left;
}
.form-wrapper h4 span {
	margin-left: 13px;
	vertical-align: top;
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
}
.children-attending .add-another{
	float: right;
	display: block;
}
.form-wrapper .children-attending label {
	width: 78px;
}
.form-wrapper .children-attending .form-row.radio, 
.form-wrapper .children-attending .form-row.add-btn {
	padding-left: 100px;
}
.form-wrapper .children-attending .form-row.add-btn .btn{
	float: left;
}
.child.one,
.child.two {
	/*display: none;*/
}
.cancel {
	color:#bd5999;
	border: 0 none;
	text-decoration: underline;
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	background: none;
}
.add-another {
	color: #BD5999;
    font: bold 12px/1.41 Arial,Helvetica,sans-serif;
	display: inline-block;
	margin-bottom: 10px;
}
.form-wrapper .children-attending label.error {
    width: 150px;
}
.page .form-wrapper #children-attending p.validation-warning {
	float: left;
}
.form-wrapper .children-attending .form-row.no-of-child {
	padding-left: 0;
	display: none;
}
.form-wrapper .children-attending .form-row.no-of-child label {
	width: 120px;
}
.form-wrapper .children-attending .no-of-child > div {
	margin-bottom: 7px;
}
.total-amount {
	margin-bottom: 11px;
	padding: 2px 2px 3px 12px;
	background: #bd5999;
}
.amount {
	float: left;
	color: #fff;
	padding-top: 3px;
	display: block;
	font: bold 14px/1.5 Arial, Helvetica, sans-serif;
}
.pay-now {
	float: right;
	width: 79px;
	display: block;
	padding-left: 29px;
	background: url(images/sprite.png) no-repeat -150px -582px;
}
.pay-now .btn {
	border: 0 none;
}
aside.right .more-tickets h2 {
	margin-bottom: 6px;
}
.ticket-option  {
	width: 72px;
	height: 61px;
	display:block;
	text-indent: -9999px;
	background: url('images/sprite.png') no-repeat 0 -826px;
	position: absolute;
	right: 1px;
	bottom: -5px;
}
/* PARTIES HOMEPAGE - PAGE
---------------------------------------------------------------------------*/
.parties-homepage .page{
	float: left;
}
.parties-homepage .page h2 {
	margin-bottom: 20px;
	font: 29px/1.20 'GoodDogRegular';
}
.parties-homepage .note{
	color: #eb6d96;
}
.parties-homepage .intro a.find-more {
	color: #eb6d96;
	font: 29px/1.20 'GoodDogRegular';
	text-decoration: none;
}
.party-timming h2{
	color: #eb6d96;
}
.ante-meridian,
.post-meridian{
	width: 47.5%;
 }
.ante-meridian{
	margin-right: 32px;
}
.ante-meridian,
.post-meridian,
.anytime{
	float: left;
	padding: 4px 0;
	margin-bottom: 20px;
}
.ante-meridian > div,
.post-meridian > div,
.anytime{
	color: #bd5999;
	border-radius: 4px;
	padding: 12px 32px 11px 60px;
	font: 17px/1.23 Arial, Helvetica, sans-serif;
	background-color: #fdf0f4;
	position: relative;
}
.clock {
	width: 45px;
	height: 48px;
	display: block;
	text-indent: -9999px;
	background: url('images/sprite.png') no-repeat -354px 0;
	position: absolute;
	top: -5px;
	left: 3px;
}
.post-meridian .clock {
	background-position: -354px -148px;
}
.anytime .clock {
	background-position: -354px -298px;
}
.parties-prices {
	margin-bottom: 8px;
	border-radius: 3px;
	padding: 13px 10px 20px;
	background-color: #fff5f0;
	position: relative;
}
.parties-prices h2 {
	color: #bd5999;
}
.parties-prices ul {
	margin-bottom: 20px;
}
.parties-prices li {
	float: left;
	width: 235px;
	color: #eb6d96;
	margin-left: 13px;
	font: bold 17px/1.23 Arial, Helvetica, sans-serif;
}
.parties-prices li span {
	color: #bd5999;
}
.parties-prices li:fist-child {
	margin-left: 0;
}
.parties-prices p {
	color: #eb6d96;
	margin-left: 13px;
	font: bold 17px/1.23 Arial, Helvetica, sans-serif;
}
#parties-homepage h2 {
	color: #bd5999;
	margin-bottom: 10px;
	padding-left: 56px;
	line-height: 47px;
	background: url('images/sprite.png') no-repeat -350px -501px;
}
.form-wrapper  form#parties-homepage > div {
	padding-top: 24px;
}
.form-wrapper #parties-homepage label {
	width: 138px;
}
.form-wrapper  form#parties-homepage .form-row.radio,
.form-wrapper  form#parties-homepage .form-row.submit {
	padding-left: 160px;
}
.form-wrapper  form#parties-homepage .form-row .btn {
	float: left;
}
.page form#parties-homepage p.validation-warning {
	float: left;
}
.form-wrapper  form#parties-homepage .form-row.radio label {
	width: 45px;
}
.form-wrapper form#parties-homepage .form-row.radio label.error {
	width: 138px;
}
/* PARTIES BOOKING DETAILS - PAGE
---------------------------------------------------------------------------*/
.parties-booking-page .page{
	float: left;
}
.parties-booking-page .form-wrapper{
	width: 85%;
}
#parties-booking-detail table td{
	height: 31px;
}
.parties-booking-page p.note{
	color: #eb6d96;
}
.parties-booking-page h1,
#parties-booking-detail h4{
	color: #eb6d96;
}
.parties-booking-page .following-heading{
	font: 25px/1.20 'GoodDogRegular';
	color:#bd5999;
	margin-bottom: 21px;
}
.parties-booking-page .following-heading a,
.parties-booking-page .following-heading em{
	color: #bd5999;
}
.parties-booking-page .following-heading a{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	float: right;
	padding-top: 8px;
}
.parties-booking-page .following-heading em{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	font-style:italic;
}
.parties-booking-page .following-heading a:hover{
	text-decoration: none;
}
.parties-booking-page .following-heading a:focus{
	background-color: #e43f7c;
	color: #fff;
}

#parties-booking-detail input[type="number"]{
	width: 90px;
}
#parties-booking-detail label{
	width: 84px;
}
#parties-booking-detail label.error {
	width: 92px;
}
#parties-booking-detail td.child-name{
	width: 300px;
}
#parties-booking-detail td.child-name,
#parties-booking-detail td.dob,
#parties-booking-detail td.close{
	font-weight: bold;
}
#parties-booking-detail td.close {
	width: 20px;
}
#parties-booking-detail td.dob{
	width: 190px;
}
#parties-booking-detail td.dob span{
	margin-right: 20px;
	display: inline;
}

/*	LOGGED IN
---------------------------------------------------------------------------*/
.logged-in{
	margin: 34px 0 19px;
	background-color: #bd5999;
	padding: 10px 10px 15px 15px;
	border-radius: 3px;
	color: #fff;
	position: relative;
}
.logged-in h2{
	font: 25px/1.20 'GoodDogRegular';
	margin-bottom:15px;
}
.logged-in .user,
.logged-in .logout{
	padding-top: 8px;
	padding-left: 31px;
	padding-bottom: 8px;
}
.logged-in .user{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
	background:url('images/sprite.png') no-repeat -373px -576px;
} 
.logged-in .logout {
	background:url('images/sprite.png') no-repeat -373px -621px;
}
.logged-in .logout a{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	color: #fff;
}
.logged-in .logout a:hover{
	text-decoration:none;
}
.logged-in .logout a:focus{
	background-color: #fff;
	color: #bd5999;
}

/* BLOG - PAGE
---------------------------------------------------------------------------*/
.blog .page{
	width: 74.5%;
	float: left;
}
.blog h1{
	color: #e43f7c;
}
.blog h1 span{
	color: #aabbdf;
}
.blog .post {
	border-radius: 3px;
	background-color: #eff4fd;
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
}
.post-featured-imge{
	width: 205px;
	float: left;
	margin-right: 20px;
}
.post-featured-imge img{
	border: 8px solid #fff;
	box-shadow: 0 0 7px #e0ded8;
}
.blog .post h2 {
	color: #e43f7c;
	font: 29px/1.20 'GoodDogRegular';
}
.blog .post h2 span {
	color: #bd5999;
}
.blog .post p {
	color: #5f5e5et;
	margin-bottom: 20px;
	font: 12px/1.75 Arial, Helvetica, sans-serif;
}
.post-title-links,
.post-title-links a{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	color: #8397c0;	
}
.post-title-links a{
	text-decoration: none;
}
.post-title-links a:hover{
	text-decoration: underline;
}
.post-title-links a:focus{
	background-color: #e43f7c;
	color: #fff;
}
.blog .right h2{
	background: none;
	padding: 41px 0 0 5px;
	margin-bottom: 14px;
	color: #e43f7c;
	border-bottom: 1px solid #e43f7c;
}
.blog .right li a{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	color: #e43f7c;
	text-decoration: none;
}
.blog .right li a:hover{
	text-decoration:underline;
}
.blog .right li a:focus{
	background-color: #e43f7c;
	color: #fff;
}
.pagination{
	float: right;
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	color: #e43f7c;
}
.pagination a{
	color: #e43f7c;
	text-decoration: none;
}
/* CONTACT - PAGE
---------------------------------------------------------------------------*/
.contact-page .page{
	width: 65%;
	float: left;
}
.contact-page .page h1 span {
    color: #9ad4b9;
}
.contact-page p{
	font-size: 12px;
}
.contact-page p a{
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #e43f7c;
}
.contact-page p a:hover{
	text-decoration: underline;
}
.contact-page p a:focus{
	background-color: #e43f7c;
	color: #fff;
}
.contact-page .form-wrapper{
	border-radius: 3px;
	padding-bottom: 60px;
	background: #e5f6ec url('images/contact-bg.jpg') no-repeat right 47px;
	position: relative;
}
.contact-page .form-wrapper h4{
	color: #e43f7c;
	font-size: 29px;
	padding-left: 18px;
	padding-top: 10px;
}
.contact-page span.required{
	padding-left: 140px;
	color: #5f5e5e;
	font: 12px/18px Arial,Helvetica,sans-serif;
}
#contact-form .form-row{
	width: 440px;
}
.contact-page .form-wrapper label {
	color: #e43f7c;
	font-size: 16px;
	padding-top: 4px;
}
#contact-form > div{
	background: none;
	margin-bottom: 9px;
	padding: 0;
}
#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
  border: 1px solid #aadfc2;
  color: #5F5E5E;
  padding: 0 5px;
  width: 280px;
  height: 29px;
}
#contact-form textarea {
	min-height: 162px;
  	padding: 0 5px;
}

#contact-form  input.error,
#contact-form textarea.error{
	border: 3px solid #e43f7c;
}


/* LOGIN - PAGE
---------------------------------------------------------------------------*/
.login-page .page{
	float: left;
}
.login-page p{
	color: #ec8b5c;
	font-weight: bold;
}	
.login-page .page h2{
	font: 25px/1.20 'GoodDogRegular';
	color: #e43f7c;
	margin-bottom: 21px;
}
.login-page h2 a{
	font: bold 12px/1.75 Arial, Helvetica, sans-serif;
	color: #e43f7c;
	margin-left: 10px;
}
.login-page h2 a:hover{
	text-decoration: none;
}
.login-page h2 a:focus{
	background-color: #e43f7c;
	color: #fff;
}
.login-page .form-wrapper {
	border-radius: 3px;
	background-color: #fdf0f4;
	padding: 18px 0;
	position: relative;
}
#login-form .next{
	float: left;
	margin-left: 142px;	
}
#login-form > div{
	padding: 0 0 0 10px;
}
#login-form input.error{
	box-shadow: 0 0 5px #bd5999;
}

/* THANKYOU - PAGE
----------------------------------------------------------------------------*/
.thankyou-page .page {
	float: left;
	width: 68%;
	padding-left: 18px;
}
.thankyou {
	border-radius: 4px;
	background: #fdf0f4;
	position: relative;
}
.thankyou .content {
	width: 47%;
	float: left;
	padding-left: 3%;
}
.thankyou p{
	font-size: 12px;
	font-weight: bold;
	color: #bd5999;
}
.girl-toy {
	float: left;
	width: 30%;
	margin-top: 1%;
}
.boy-toy {
	float: right;
	width: 20%;
}
.girl-toy img,
.boy-toy img {
	display: block;
	width: 100%;
}
/* FOOTER
---------------------------------------------------------------------------*/
footer {
	color: #fff;
	padding: 20px 0 35px;
	font: 12px/2 Arial, Helvetica, sans-serif;
}
footer p {
	float: right;	
}
footer a {
	color: #fff;
	text-decoration: none;
}
footer .copyrights {
	float: left;
}
/* TABLE
---------------------------------------------------------------------------*/
table {
	width: 100%;
	
}
table th {
	color: #bd5999;
	text-align:left;
	padding-bottom: 8px; 
	font: blod 14px/1.5 Arial, Helvetica, sans-serif;
}
table th.date {
	width: 151px;
	padding-left: 13px;
}
table th.time {
	width: 89px;
}
table th.duration {
	width: 124px;
}
table th.price {
	width: 85px;
}
table th.book-now {
	width: 79px;
}
table td {
	color: #bd5999;
	text-align: left;
	padding-left: 3px;
	vertical-align: middle;
	border-bottom: 7px solid #fdf0f4;
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	background-color: #fff;
}

table tr td:first-child {
	padding-left: 13px;
}
table td.date {
	width: 151px;
	padding-left: 13px;
}
table td.time {
	width: 89px;
}
table td.duration {
	width: 124px;
}
table td.price {
	width: 85px;
}
table td span {
	width: 82px;
	display: block;
	position: relative;
}
table td span a {
	position: absolute;
	top:-10px;
	right:9px;
}
td.add-btn {
	width:80px;
}
/* FORMS
---------------------------------------------------------------------------*/
.form-wrapper h4 {
	color: #bd5999;
	margin-bottom: 15px;
	font: 25px/0.874 'GoodDogRegular';
}
.form-wrapper h5 {
	color: #bd5999;
	padding-left: 98px;
	margin-bottom: 27px;
	font: 14px/1.5 Arial, Helvetica, sans-serif;
}
.form-wrapper form > div {
	margin-bottom: 15px;
	border-radius: 3px;
	padding: 13px 20px 17px; 
	background-color: #fdf0f4;
	position: relative;
}
.form-wrapper .form-row {
	margin-bottom: 13px;
}
.form-wrapper label {
	float: left;
	width: 120px;
	color: #bd5999;
	text-align: right;
	margin-right: 22px;
	font: bold 12px/1.41 Arial, Helvetica, sans-serif;
}
.form-wrapper a.add-child {
	float: left;
	color: #bd5999;
	font: bold 12px/1.41 Arial, Helvetica, sans-serif;
}
label.error {
	float: left;
	width: 224px;
	color: #fb1c1c;
	text-align: left;
	margin: 0 0 0 16px;
}
.form-wrapper .form-row.radio,
.form-wrapper .form-row.add-btn {
	padding-left: 144px;
	position: relative;
}
.form-wrapper .form-row.radio label{
	width: 36px;
	text-align: left;
	margin-left: 5px;
}
.form-wrapper .form-row.radio label.error {
	width: 224px;
	position: absolute;
	top: 0;
	left: 265px;
}
.form-wrapper input[type="text"],
.form-wrapper input[type="email"],
.form-wrapper input[type="password"],
.form-wrapper input[type="number"],
.form-wrapper input[type="tel"],
.form-wrapper input[type="date"],
.form-wrapper textarea{
	float: left;
	width: 244px;
	height: 18px;
	color: #5f5e5e;
	padding: 0 5px;
	border: 1px solid #bd5999;
	font: 12px/18px Arial, Helvetica, sans-serif;
}
.form-wrapper textarea{
	min-height: 74px;
	resize: none;
}
.form-wrapper input.mini {
	float: left;
	width: 37px;
}
.form-wrapper input.small {
	float: left;
	width: 62px;
}
.form-wrapper input#year {
	margin-right: 44px;
}
.form-wrapper .form-row .seprator {
	float: left;
	color: #bd5999;
	display: block;
	margin: 0 8px;
	font: 12px/18px Arial, Helvetica, sans-serif;
}
.form-wrapper form > div.total-amount {
	margin-bottom: 11px;	
	background: #bd5999;
}
#parties-booking-detail div.total-amount {
	padding: 2px 2px 3px 12px;
}
/* PLUGINS
---------------------------------------------------------------------------*/

/* JSCROLLPANE PLUGIN
---------------------------------*/
.jspContainer {
	width: 99% !important;
	overflow: hidden;
	position: relative;
}
.jspPane {
	position: absolute;
}
.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}
.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}
.jspCap {
	display: none;
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspTrack {
	background: #fff;
	position: relative;
}
.jspDrag {
	border-radius: 1px;
	border: 1px solid #ead2d9;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(0%, #ffffff), to(100%, #eccdd6));
	background: -webkit-linear-gradient(#ffffff, #eccdd6);
	background: -moz-linear-gradient(#ffffff, #eccdd6);
	background: -ms-linear-gradient(#ffffff, #eccdd6);
	background: -o-linear-gradient(#ffffff, #eccdd6);
	background: linear-gradient(#ffffff, #eccdd6);
	-pie-background: linear-gradient(#aadfc2, #eccdd6);
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}
.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}
.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}
.jspVerticalBar .jspArrow:focus {
	outline: none;
}
.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}
/* ICHECK PLUGIN 
----------------------------------- */
.icheckbox,
.iradio {
	float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url('images/sprite.png') no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox {
    background-position: -75px -599px;
}
.icheckbox.checked {
	background-position: -57px -599px;
}
.icheckbox.disabled {
	background-position: -90px -599px;
	cursor: default;
}
.icheckbox.checked.disabled {
	background-position: -105px -599px;;
}
.iradio {
    background-position: -57px -582px;
}
.iradio.checked {
	background-position: -73px -582px;
}
.iradio.disabled {
	background-position: -91px -582px;
	cursor: default;
}
.iradio.checked.disabled {
	background-position: -106px 0;
}
/* PRINT STYLES
---------------------------------------------------------------------------*/
@media print {
	* {
			background: transparent !important;
			color: #000 !important; /* Black prints faster: h5bp.com/s */
			box-shadow:none !important;
			text-shadow: none !important;
	}

	a,
	a:visited {
			text-decoration: underline;
	}

	a[href]:after {
			content: " (" attr(href) ")";
	}

	abbr[title]:after {
			content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
			content: "";
	}

	pre,
	blockquote {
			border: 1px solid #999;
			page-break-inside: avoid;
	}

	thead {
			display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
			page-break-inside: avoid;
	}

	img {
			max-width: 100% !important;
	}

	@page {
			margin: 0.5cm;
	}

	p,
	h2,
	h3 {
			orphans: 3;
			widows: 3;
	}

	h2,
	h3 {
			page-break-after: avoid;
	}
}


/* MEDIA QUERIES
---------------------------------------------------------------------------*/
@media screen and (min-width: 1281px) and (max-width: 1345px) {
	.wrapper {
		width: 80%;
	}
	.home .page {
		width: 48%;
	}
}
@media screen and (min-width: 1187px) and (max-width: 1280px) {
	.wrapper {
		width: 80%;
	}
}
@media screen and (min-width: 1073px) and (max-width: 1199px) {
	.wrapper {
		width: 90%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1072px) {
	.wrapper {
		width: 95%;
	}
	.home .page {
		width: 40%;
	}
}

@media screen and (min-width: 966px) and (max-width: 1186px) {
	.home .page {
		width: 48%;
	}
}
@media screen and (min-width: 966px) and (max-width: 1024px) {
	nav li {
		width:110px;
	}
	.wrapper {
		width: 98%;
	}
	.slider-wrapper {
		width:65.8%;	
	}
	.banner .newsletter {
		width: 20.5%;
	}
	#gallery-2 .rsThumbs {
		width: 96%;
		margin-left: 0px;
	}

}
@media screen and (min-width: 911px) and (max-width: 965px) {
	.wrapper {
		width: 76.5%;
	}
	.slider-wrapper {
		width: 66%;
		float: none;
		margin-bottom: 10px;		
	}
	.banner .newsletter {
		float: none; 
		width: auto;
	}
	nav li {
		width:85px;
	}
	.home .page {
		width: 64%;
	}
	aside.right {
		width: 100%;
		clear: both;
	}
	.gallery-page .page {
		width: 64%;
	}
	.gallery-slider {
		padding: 10px 10px 30px;
	}
	#gallery-2 .rsThumbs {
		width: 95%;
		margin-left: 0px;
	}
	
	.ticket-detail > div {
		width: 95%;
	}
	.term-ticket {
		width: 96%;
	}
	#map {
		width: 95%;
	}
	.parties-booking-page .form-wrapper,
	.classes-page .page,
	.parties-homepage .page,
	.parties-booking-page .page,
	aside.right .ticket-cloumn, 
	.form-wrapper.booking,
	.blog .page { 
		width: 100%;
	}
	.contact-page .page {
		width: 63%;
	}
	#contact-form .form-row {
		width: 71%;
		padding-left: 20px;
	}
	#contact-form .form-row label {
		text-align: left;
	}
	#contact-form input[type="text"], 
	#contact-form input[type="password"], 
	#contact-form input[type="email"], 
	#contact-form input[type="tel"], 
	#contact-form textarea {
      width: 100%;
	}
	.thankyou-page .page {
		float: none;
		width: 97%;
	}
}
@media screen and (min-width: 801px) and (max-width: 910px) {
	.wrapper {
		width: 90%;
	}
	.slider-wrapper {
		width: 66%;
		float: none;
		margin-bottom: 10px;		
	}
	.banner .newsletter {
		float: none; 
		width: auto;
	}
	nav li {
		width:85px;
	}
	.home .page {
		width: 66%;
	}
	aside.right {
		width: 100%;
		clear: both;
	}
	.gallery-page .page {
		width: 65%;
	}
	#gallery-2 .rsThumbs {
		width: 95%;
		margin-left: 0px;
	}
	.ticket-detail > div {
		width: 95%;
	}
	.term-ticket {
		width: 96%;
	}
	#map {
		width: 95%;
	}
	.party-timming .anytime {
		width: 87%;
	}
	.parties-booking-page .form-wrapper,
	.classes-page .page,
	.parties-homepage .page,
	.parties-booking-page .page,
	aside.right .ticket-cloumn, 
	.form-wrapper.booking,
	.blog .page,
	.login-page .page { 
		width: 100%;
	}
	.contact-page .page {
		width: 63%;
	}
	#contact-form .form-row {
		width: 71%;
		padding-left: 20px;
	}
	#contact-form .form-row label {
		text-align: left;
	}
	#contact-form input[type="text"], 
	#contact-form input[type="password"], 
	#contact-form input[type="email"], 
	#contact-form input[type="tel"], 
	#contact-form textarea {
      width: 100%;
	}
	.thankyou-page .page {
		float: none;
		width: 97%;
	}
}

@media screen and (max-width: 800px) {
	.wrapper {
		width: 93.5%;
	}
	 nav li {
		width: 100%;
		margin-left: 0;
	 }
	.banner {
		z-index: 500;
	}
	nav li {
		margin-bottom: 6px;
	}
	nav li a {
		line-height: 41px;
	}
	nav li:hover a, 
	nav li.active a {
		line-height: 38px;
	}
	nav ul {
		display: none;
		padding-top: 15px;
	}
	#menu-icon{ 
		display: block;
		border-radius: 9px;
		border: 2px solid #FFFFFF;
		background: #455c8e;
		background: -webkit-gradient(linear, 0 0, 0 bottom, from(67%, #455c8e), to(28%, #aabbdf));
		background: -webkit-linear-gradient(#455c8e, #aabbdf);
		background: -moz-linear-gradient(#455c8e, #aabbdf);
		background: -ms-linear-gradient(#455c8e, #aabbdf);
		background: -o-linear-gradient(#455c8e, #aabbdf);
		background: linear-gradient(#455c8e, #aabbdf);
		-pie-background: linear-gradient(#455c8e, #aabbdf);
		display:inline-block;
		height:40px;
		width:99%;
	}
	#menu-icon span { 
		width: 23px;
		height: 3px;
		display: block;
		margin: 0 0 3px 20px;
		background: #fff;
		text-indent: -9999px;
	}
	#menu-icon span:first-child { 
		margin-top: 12px;
	}
	
	.body {
		margin-top: 11px;
	}
	.slider-wrapper {
		float: none;
		margin-bottom: 10px;		
	}
	.banner .newsletter {
		float: none; 
		width: auto;
	}
	.page {
		width: 100%;
		margin-bottom: 10px;
	}
	aside.left {
		width: 100%;
		position: static;
	}
	aside.left > div {
		float: left;
		width: 222px;
	}
	aside.left .urgant-notice {
		width: auto;
	}
	aside.left .image {
		margin: 0% 5% 5%;
	}
	.page {
		float: none;
		width: 100%;
	}
	.home .page {
		width: 100%;
		float: none;
		margin-left: 0;
	}
	aside.right {
		float: none;
		width: 100%;
	}
	.gallery-page .page {
		float: none;
		width: 100%;
	}
	.ticket-detail > div {
		width: 95%;
	}
	.term-ticket {
		width: 96%;
	}
	#map {
		width: 95%;
	}
	aside.right .ticket-cloumn {
		width: 100%;
	}
	.classes-page .page,
	.parties-homepage .page,
	.parties-booking-page .page,
	.parties-homepage .page,
	.parties-booking-page .page,
	.blog .page,
	.login-page .page {
		float: none;
		width: 100%;
	}
	.form-wrapper.booking,
	.parties-booking-page .form-wrapper {
		width: 100%;
	}
	.ante-meridian, .post-meridian {
		float: none; 
		width: 100%;
	}
	.contact-page .page{
		width: 100%;
	}
	#contact-form .form-row {
		width: 71%;
		padding-left: 20px;
	}
	#contact-form .form-row label {
		text-align: left;
	}
	#contact-form input[type="text"], 
	#contact-form input[type="password"], 
	#contact-form input[type="email"], 
	#contact-form input[type="tel"], 
	#contact-form textarea {
      width: 100%;
	}
	.thankyou-page .page {
		float: none;
		width: 97%;
	}
}
@media screen and (min-width: 801px) {
	nav ul {
		display: block !important;
	}
}
@media screen and (max-width: 768px) {
	.wrapper {
		width: 96%;
	}
}
@media screen and (max-width: 760px) {
	.slider-wrapper {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	aside.left .image {
		margin: 0% 3% 5%;
	}
	.term-ticket h2,
	.term-ticket .btn {
		float: none;
	}
	.parties-booking-page .following-heading {
		margin-bottom: 28px;
	}
	.term-ticket h2 {
		font-size: 12px;
		margin-bottom: 32px;
	}
}
@media screen and (max-width: 540px) {
	.logo {
		width: 60%;
		height: auto;
	}
	.logo img {
		width: 100%;
		display: block;
	}
	.banner {
		margin-top: -13%;
	}
	.body {
		padding: 14px 13px 22px 10px;
	}
	aside.left .image {
		margin: 0 0 5% 30%;
	}
	aside.left > div {
		float: none;
	}
	.testimonal {
		margin: 0 auto;
	}
	.gallery-slider {
		padding: 10px 10px 40px;
	}	
	.term-ticket h2 {
		font-size: 14px;
	}
	.venues ul{
		width: 345px;
		margin: 0 auto;
	}
	table th,
	table td {
		font-size: 12px;
	}
	table td span {
		width: 32px;
	}
	table td .btn{
		width: 64px;
		font-size: 11px;
	}
	.child-list td {
		padding: 5px;
	}
	#map h2,
	#map .logo-img {
		float: none;
	}
	 #parties-homepage h2 {
		 line-height: 38px;
	 }
	 .amount {
		 margin-bottom: 10px;
	 }
	 .contact-page .form-wrapper label {
		 float: none;
		 display: block;
		 width: 100%;
	 }
	 #login-form .next {
		 margin-left: 0;
	 }
	 .thankyou .content {
		 float: none;
		 width: 85%;
		 clear: both;
		 padding-left: 10px;
	 }
	.form-wrapper.booking {
		width: 100%;
	}
	.form-wrapper label {
		text-align: left;
		margin-bottom: 5px;
	}
	.form-wrapper input[type="text"],
	.form-wrapper input[type="email"],
	.form-wrapper input[type="password"],
	.form-wrapper input[type="number"],
	.form-wrapper input[type="tel"],
	.form-wrapper input[type="date"],
	.form-wrapper textarea{
		width: 95%;
	}
	.form-wrapper input.mini {
		float: left;
		width: 20%;
	}
	.form-wrapper input.small {
		float: left;
		width: 25%;
	}
	.form-wrapper input#year {
    	margin-right: 0;
	}
	.form-row.dob label,
	#parties-booking-detail label {
		width: 100%;
	}
	.form-wrapper .form-row.radio, 
	.form-wrapper .form-row.add-btn,
	.form-wrapper .children-attending .form-row.radio, 
	.form-wrapper .children-attending .form-row.add-btn,
	.form-wrapper form#parties-homepage .form-row.radio,
	.form-wrapper form#parties-homepage .form-row.submit {
		padding-left: 0;
	}
	footer {
		text-align: center;
	}
	footer .copyrights {
		width: 100%;
		margin-bottom: 10px;
	}
	footer p {
		float: none;
	}
}
@media screen and (max-width: 480px) {
	.facebook-box h2 {
		padding: 0 44px 9px 12px;
	}
	.facebook-box .post {
		width: 68%;
	}
	aside.left .image {
		margin: 0% 0% 5% 25%;
	}
	
}
@media screen and (max-width: 400px) {
	.facebook-box .post {
		width: 55%;
	}
	aside.left .image {
		margin: 0% 0% 5% 15%;
	}
	.gallery-slider {
    	padding: 10px 10px 80px;
	}
	.venues h2, 
	.ticket-detail h2 {
		text-align: center;
	}
	.venues ul{
		width: 160px;
		margin: 0 auto;
	}
	 .post-featured-imge {
		 float: none;
	 }
}
@media all and (orientation: portrait) { }
@media all and (orientation: landscape) { }